<!DOCTYPE html>

<html lang="en">

	<head>
	  	<title>Historial</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	
	<body>

		<div class="w3-container w3-blue", align="center">
  			<h1>Cisterna Automatica</h1> 
  			<p>Taller de Proyectos II</p> 
		</div>

 		<div class="container">
  			<div class="widget-header">
    			<i class="icon-th-list"></i>
    			<h3><p class="text-center">Historial</p></h3>
 			 </div>

			<table class="table table-striped table-bordered">
				<thead>
			      	<tr class="active">
				        <th><p class="text-center">Fecha (dd/mm/aaaa)</p></th>
				        <th><p class="text-center">Hora (hh:mm)</p></th>
				        <th><p class="text-center">Cisterna Superior (%)</p></th>
				        <th><p class="text-center">Cisterna Inferior (%)</p></th>
				        <th><p class="text-center">Estado</p></th>
				    </tr>
				</thead>
				<tbody>
					{% for i in range(0,tamano-1): %}
					    <tr class="success">
						    <td><p class="text-center">{{fecha[i]}}</p></td>
						    <td><p class="text-center">{{hora[i]}}</p></td>
					        <td><p class="text-center">{{tanqueArriba[i]}}</p></td>
						    <td><p class="text-center">{{tanqueAbajo[i]}}</p></td>
				        	<td><p class="text-center", style="color:MediumSeaGreen";>{{estado[i]}}</p></td>
				    	</tr>
			    	{% endfor %}
			    </tbody>
			</table>

			<div class="widget-header">
    			<h3><p class="text-left">Estados</p></h3>
    			<h5 style="color:MediumSeaGreen">Finalizado</h5>
    			<h5 style="color:DodgerBlue">Cargando</h5>
    			<h5 style="color:Red">Error 1</h5>
    			<h5 style="color:Red">Error 2</h5>
 			</div>
		</div>
	</body>
</html>