<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cisterna Automatica</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='barras_percent.css')}}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='w3.css')}}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='button_style.css')}}" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="w3-container w3-blue", align="center">
			<h1>Cisterna Automatica</h1>
			<p>Taller de Proyectos II</p> 
		</div>
		<div class="container">
			<div class="widget-header">
				<h3><p class="text-center">Estado Actual</p></h3>
			</div>	
		</div>
			<div class="w3-row-padding", align="center">
				<div class="w3-third">
					<h2>Tanque Superior</h2>
					<p>Tanque principal, ubicado en el techo de la casa.</p>
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							<div class="bar-percentage" data-percentage="{{tanqueArriba}}">{{tanqueArriba}}%</div>
							<div class="bar-container">
								<div class="bar" style="width: {{tanqueArriba}}%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="w3-third", align="center">
					{% if estado == "Reposo": %}
						<h4>Cisterna en Reposo</h4>
					{% else: %}
						<h4>Cisterna en funcionamiento</h4>
					{% endif %}
					<p></p>
					<p></p>
				</div>
				<div class="w3-third">
					<h2>Tanque Inferior</h2>
					<p>Tanque de reserva, ubicado a la altura del suelo.</p>
					<div id="bar-1" class="bar-main-container azure">
						<div class="wrap">
							<div class="bar-percentage" data-percentage="{{tanqueAbajo}}">{{tanqueAbajo}}%</div>
							<div class="bar-container">
								<div class="bar" style="width: {{tanqueAbajo}}%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w3-row-padding", align="center">
			<form method="get" action="/history">
				<button type="submit", class="button">Historial</button>
			</form>
		</div>
	</body>
</html>